<% content_for :header_tags do %>
	<%=	stylesheet_link_tag "bootstrap", :plugin => 'dashboard'  %>
	<%=	stylesheet_link_tag "styles", :plugin => 'dashboard'  %>
	<%=	javascript_include_tag "raphael.js", :plugin => 'dashboard' %>
	<%=	javascript_include_tag "morris.js", :plugin => 'dashboard' %>
	<%=	javascript_include_tag "graphics.js", :plugin => 'dashboard'  %>
	<%=	javascript_include_tag "date.js", :plugin => 'dashboard'  %>
	<%=	javascript_include_tag "form.js", :plugin => 'dashboard'  %>
<%end%>
<div class="row">
  <div class="span12">
		<h2>Tableau de bord du projet <u><%= @project.name %></u> de <%= form_tag("/dashboard", :method => "post", :id => 'dateform') do %>
		  <%= if @project.id != nil then hidden_field_tag :project_id, @project.id end %>
		  <%= if @currentTracker.id != nil then hidden_field_tag :tracker, @currentTracker.id end %>
			<input type="text" data-behaviour='datepicker' name="startDate" class='jquery-ui-date' placeholder="<%=@startDate.to_date.to_s%>"> à <input type="text" data-behaviour='datepicker' name="endDate" class='jquery-ui-date' placeholder="<%=@endDate.to_date.to_s%>">
			<button class="btn btn-primary" name="button" type="submit">Go</button>
		<% end %>
		</h2>



		<div class="row">
			<div class="span6">
				<!-- <button href="dashboard"btn btn-large btn-block">Revenir au projet parent</button><br/> -->
				<%= form_tag("/dashboard", :method => "get", :id => 'trackerform') do %>
				  <%= if @project.id != nil then hidden_field_tag :project_id, @project.id end %>
				  <%= hidden_field_tag :startDate, @startDate.to_s %>
				  <%= hidden_field_tag :endDate, @endDate.to_s %>
					<h3>Tracker <%= select_tag(:tracker, options_for_select(@trackers_to_select, @currentTracker.id) )%> <button class="btn btn-danger	" name="button" type="submit">Go</button></h3>
				<% end %>
				<table class="table table-bordered table-hover">
					<thead>
						<tr><th>Tableau récapitulatif des demandes</th></tr>
					</thead>
					<tr>
						<td>Nombre de demandes</td>
						<td><%= numberOfIssues(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
					<tr>
						<td>Nombre de demandes ouvertes</td>
						<td><%= numberAndPartOfOpenedIssues(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
					<tr>
						<td>Priorité générale (la plus partagée)</td>
						<td><%= mostPriority(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
					<tr>
						<td>Status général</td>
						<td><%= mostStatus(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
					<tr>
						<td>Délai moyen (théorique)</td>
						<td><%= averageTheoricalDelay(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
					<tr>
						<td>Echeances dépassées</td>
						<td><%= partPastDue(@project, @currentTracker, @startDate, @endDate) %></td>
					</tr>
				</table>
			</div>
			<div class="span6">
				<%= content_tag :div, "", id: "issues-evolution", data: {list: getIssuesEvolution(@project, @currentTracker, @startDate, @endDate)} %>
			</div>
  	</div>
  </div>

  <div class="span4 pull-right">
		<%= content_tag :div, "", id: "issues-status", data: {list: getIssuesStatus(@project, @currentTracker, @startDate, @endDate)} %>	
		<center><p>Schéma status des demandes</p></center>
		<%= content_tag :div, "", id: "issues-priority", data: {list: getIssuesPriority(@project, @currentTracker, @startDate, @endDate)} %>	
		<center><p>Schéma Priorité des demandes</p></center>
  </div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Projet</th>
			<th>Nb</th>
			<th>Sujet demande</th>
			<th>Tracker</th>
			<th>Statut</th>
			<th>Priorité</th>
			<th>Délai</th>
			<th>Echéance dépassée?</th>
		</tr>
	</thead>
	<tbody>
		<% ([@project].concat @subProjects).each do |project| %>
			<%

				issues = getRecursiveIssues project, @currentTracker, @startDate, @endDate if(project != @project)
				issues = getIssues project, @currentTracker, @startDate, @endDate if(project == @project)
				next if issues==nil
				rowspan = issues.size+1
				rowspan = 1 if issues.size == 0
			%>
			<tr>
				<td rowspan= <%=rowspan%> > <%=link_to project.name, {:controller => 'dashboard', :action => 'index', :project_id => project.id, :tracker => @currentTracker, :startDate => @startDate, :endDate => @endDate}%></td>
				<td rowspan= <%=rowspan%> ><%=issues.size%></td>
			</tr>
			<% issues.each do |issue|%>
				<tr>
					<td><%=link_to issue.subject, issue %></td>
					<td><%=issue.tracker.name%></td>
					<td><%=issue.status.name%></td>
					<td><%=issue.priority.name%></td>
					<%=resolved? issue%>
					<% case(deadline? issue)
							when -1%>
							<td>Pas d'échéance</td>
							<%when 1%>
							<td>Oui</td>
							<%when 0%>
							<td bgcolor=#f2dede>Non</td>
							<%end%>

				</tr>
			<%end%>
		<%end%>
		 
	</tbody>
</table>
